nav{
    grid-area: n;
    padding: 10px;
    margin: 10px;
}

nav li{
    list-style: none;
    display: grid;
    margin: 30px ;
    margin-right: 20px;
}

nav ul{
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav a:hover{
    color: rgb(179, 177, 177);
    background-color: #575454;
    border-radius: 5px;
    padding:  5px;
}


@media screen and (max-width: 950px) {

    main {
        grid-template-columns: 1fr 2fr 1fr; 
        grid-template-areas: 
            "n n n"
            "a a a"
            "as as as"
    }

    nav ul{
        margin: 0;
        padding: 0;
    }

    nav li{
        text-align: center;
    }
}