main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "n a"
        "n a"
        "n a"
        "n a";
}

article{
    grid-area: a;
    display: grid;
    justify-content: center;
    padding: 20px;
    border-left: 1px solid rgb(179, 177, 177);
    height: 100vh;
}

.profilname img{
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
}
.profilname{
    display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: 10px;
  
}
.profilname .elrendezes{
    gap: 30px;
    display: grid;
    grid-auto-flow: column;
  
}

.elnevezesek{
      display: grid;
    grid-auto-flow: column;
    gap: 150px;
    margin: auto;
}

.bejegyzesek{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(310px, 1fr));
    padding-top: 30px;
    gap: 20px;
}

.bejegyzesek img{
    border-radius: 0%;
    width: 100%;
    aspect-ratio:0.8;
}

.bio{
    margin: auto;
    padding-bottom: 50px;
}


@media (max-width: 950px) {
   main {
        grid-template-columns: 200px 1fr; 
        grid-template-areas: 
        "n"
        "a";
    }

    .elnevezesek {
        gap: 40px; 
        justify-content: center;
        text-align: center;
    }

    .profilname {
        gap: 20px;
    }

    .profilname img {
        max-width: 120px;
    }

    .profilname .elrendezes {
        gap: 15px;
    }

    .bejegyzesek {
        gap: 10px;
        padding-inline: 10px;
    }
}



