* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "n a a as"
        "n a a as"
        "n a a as"
        "n a a as";
    color: white;
    background-color: rgb(7, 7, 13);
}

.circle .foryou{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.circle img{
    width: 100%;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

nav{
    grid-area: n;
    padding: 10px;
}

nav li{
    list-style: none;
    display: grid;
    margin: 30px ;
    margin-right: 20px;
}

nav ul{
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav a:hover{
    color: rgb(179, 177, 177);
    background-color: #575454;
    border-radius: 5px;
    padding:  5px;
}


article{
    grid-area: a;
    display: grid;
    justify-content: center;
    padding: 20px;
    border-left: 1px solid rgb(179, 177, 177);
    height: 100vh;
}

div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profilok{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgb(179, 177, 177);
    padding: 20px;
    margin-bottom: 20px;
}

.profilok img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profilnev{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.fokontent img{
    padding: 0;
    border-radius: px;
    border: 0.5px solid rgb(87, 84, 84);
    max-width: 50%;
}

.kedveles{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

aside{
    grid-area: as;
    padding: 20px;
    height: 100vh;
}
