#javasolt{
    position: fixed;
}

#lajos{
    display: grid;
    gap: 3px;
    margin-top: 50px;
}

#lajos a{
    text-decoration: none;
    color: white;
    font-size: larger;
    padding: 0;
    padding-right: 500px;
    margin: 0;
}